@charset "utf-8";
/* CSS Document */

@media screen and (orientation:landscape) {

    h1 {
        font-size: 1.3em;
    }

    h2 {
        font-size: 1.2em;
    }

    h3 {
        font-size: 1.2em;
    }

    h4 {
        font-size: 1.4em;
    }

    .captionP {
        max-width: 40vw;
        left: 0;
        top: 12vh;
        margin-top: 1px;
        bottom: auto;
    }

    .head {
        height: 12vh;
    }

    .titleBar {
        width: 34vw;
        height: 12vh;
        margin-left: 4vw;
        float: left;
    }

    .splashHead {
        margin-left: 16vw;
        margin-right: 16vw;
    
    }

    .splashFoot {
        margin-left: 32vw;
        margin-right: 32vw;
        width: 36vw;
    
    }

    .mapHolder {
        width: 100vw;
        height: 88vh;
        padding-left: 0px;
        padding-bottom: 0px;
        margin-left: 0vw;
        border-radius: 0;
    }

    .mapContent {
        border-radius: 0;
    }

    .listHolder {
        height: 74vh;
    }

    .imageHolder {
        width: 50vw;
        height: 74vh;
        padding-right: 1px;
        padding-left: 0px;
        margin-left: 0vw;
        border-radius: 0 30px 30px 0;
        float: left;
    }

    .imageContent {
        border-radius: 0 30px 30px 0;
    }

    img.headerImage {
        border-radius: 0 30px 30px 0;
    }

    .textHolder {
        width: 50vw;
        height: 88vh;
        padding-bottom: 0;
        float: left;
    }

    .textFullHolder {
        width: 100vw;
        height: 74vh;
    }

    .textFullHolder p {
        padding-left: 16vw;
        padding-right: 16vw;
    }


    .foot {
        width: 50vw;
        left: 0%;
    }

    .but {
        width: 4vw;
        height: 10vh;
        margin-left: 2.5vw;
    }

    .butLink {
        width: 68vw;
        margin-left: 16vw;
    }

    .page_content .butLink {
        width: 42vw;
        margin-left: 8vw;
    }

    .iconHolder {
        width: 8vw;
        height: 10vh;
        float: left;
    }

    .listS {
        margin-left: 24vw;
    }
}